@model HomeViewModel;

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@* View'den partial çağırma yöntemi *@
@* Tag Helper Yöntemi 


<partial name="~/Partials/_TestPartial" model="new PartialViewModel()" />
*@

<hr/>


@* Html Helper Yöntemi *@
@await Html.PartialAsync("Partials/_TestPartial",Model.PartialModel)


<hr />


@* View Component çalıştırma çağırma şeklimiz. Aşağıdaki gibi componentin hiçbir model bağımlılığı yoktur. *@
@await Component.InvokeAsync("Test",new {title="Deneme"})
