@model PartialViewModel

<p>
    @Model.Title
</p>

@* Partial klasörümüz views shared altında tanımlanır ve partial isimlendirmede _ ile başlama  yaygın bir kullanımdır. Partial viewlere suffix son takısı Partial yazmak yaygın bir kullanımdır.*@